* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.center-card-register {
  margin: 10rem 5rem 10rem 40rem;
  width: 42%;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0.5rem 0 2.2rem 1rem;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
  width: 90%;
  padding: 1rem;
  margin: 0.5rem 0 2.2rem 1rem;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.registerbtn {
  background-color: dodgerblue;
  color: white;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0rem;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 10;
}

.center-card-login {
  margin: 10rem 5rem 10rem 40rem;
  width: 42%;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

.loginbtn {
  background-color: dodgerblue;
  color: white;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0rem;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 10;
}

/*home.html page design*/
.homebody {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topbar {
  width: 100%;
  background: dodgerblue;
  height: auto;
  display: flex;
  border: darkslateblue 0.1rem solid;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.topbar > div {
  margin: 0.5rem;
  font-size: 2rem;
}

.topchild{
  flex:1 1;
}

/* .logout {
  background-color: darkblue;
  color: white;
  padding: 12rem 16rem;
  border-radius: 5rem;
  margin: 0 0 10rem 0rem;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
  
} */
.logout {
  background-color: darkblue; /* Green */
  border: none;
  color: white;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* .logout:hover {
  opacity: 10;
} */

.logout {
  background-color: white;
  color: black;
  border: 0.2rem solid darkblue;
  border-radius: 10%;
}

.logout:hover {
  background-color: darkblue;
  color: white;
}

.MainPart {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child {
  height: 53rem;
  flex: 1 1;
}

.footer {
  width: 100%;
  background: darkcyan;
  height: 4.5rem;
}

.weather-card {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  font-size: large;
  text-align: center;
}

.weather-card:hover {
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}

.addbtn {
  background-color: dodgerblue;
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0rem;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.addbtn:hover {
  opacity: 10;
}

.dltbtn {
  background-color: red;
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0rem;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.dltbtn:hover {
  opacity: 10;
}

.combtn {
  background-color: green;
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0rem;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.combtn:hover {
  opacity: 10;
}

table {
  margin: 1rem;
}

tr {
  padding: 1rem;
}

td {
  padding: 1rem;
}

.profile {
  background-color: green;
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0rem;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
  border-radius: 100%;
}

.profile:hover {
  opacity: 10;
}

.updatebtn {
  background-color: dodgerblue;
  color: white;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0rem;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.updatebtn:hover {
  opacity: 10;
}

.container_updateprofile {
  margin: 10rem 5rem 10rem 40rem;
  width: 42%;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}

li  {
  float: left;
  
}


li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 26px;
  text-decoration: none;
}


@media (max-width: 998px) {
  html {
    font-size: 50%;
  }
  .homebody {
    height: auto;
  }
  table {
    height: auto;
    width: auto;
  }
  .center-card-register {
    margin: auto;
    width: auto;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  }
  .center-card-login {
    margin: auto;
    width: auto;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  }
  .container_updateprofile {
    margin: auto;
    width: auto;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  select {
    width: auto;
    padding: auto;
    margin: auto;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .topbar {
    width: auto;
    background: dodgerblue;
    height: auto;
    display: flex;
    border: darkslateblue 0.1rem solid;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .topchild{
    width: auto;
  } 

  .li{
    padding: auto;
  }
  
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .homebody {
    height: auto;
  }
  table {
    height: auto;
    width: auto;
  }
  .center-card-register {
    margin: auto;
    width: auto;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  }
  .center-card-login {
    margin: auto;
    width: auto;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  }
  .container_updateprofile {
    margin: auto;
    width: auto;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  select {
    width: auto;
    padding: auto;
    margin: auto;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .topbar {
    width: auto;
    background: dodgerblue;
    height: auto;
    display: flex;
    border: darkslateblue 0.1rem solid;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .topchild{
    width: auto;
  }

  .li{
    padding: auto;
  }
}
